{% extends 'base.html.twig' %}

{% block title %}MOBIL - Dashboard{% endblock %}

{% block body %}
<main class="main shadow-sm p-3 mb-5 bg-light rounded container">
    {{include('partials/adminHeader.html.twig') }}
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-md-4 mb-3">
                <div class="rounded shadow-sm p-3 bg-info-subtle rounded">
                    <div class="">
                        <h5 class="card-title">Students Registered</h5>
                        <hr class="my-2">
                        <p class="h3 fw-b d-flex justify-content-center align-items-center rounded-circle bg-white shadow-sm"
                           style="min-width: 60px; min-height: 60px; padding: 0 18px; width: auto; height: auto; margin: 0 auto; display: inline-flex;">
                            32
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="rounded shadow-sm p-3 bg-warning-subtle rounded">
                    <div class="">
                        <h5 class="card-title">Courses</h5>
                        <hr class="my-2">
                        <p class="h3 fw-b d-flex justify-content-center align-items-center rounded-circle bg-white shadow-sm"
                           style="min-width: 60px; min-height: 60px; padding: 0 18px; width: auto; height: auto; margin: 0 auto; display: inline-flex;">
                            7
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="rounded shadow-sm p-3 bg-primary-subtle rounded">
                    <div class="">
                        <h5 class="card-title">Lessons</h5>
                        <hr class="my-2">
                        <p class="h3 fw-b d-flex justify-content-center align-items-center rounded-circle bg-white shadow-sm"
                           style="min-width: 60px; min-height: 60px; padding: 0 18px; width: auto; height: auto; margin: 0 auto; display: inline-flex;">
                            20
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="rounded shadow-sm p-3 bg-danger-subtle rounded">
                    <div class="">
                        <h5 class="card-title">Admin Users</h5>
                        <hr class="my-2">
                        <p class="h3 fw-b d-flex justify-content-center align-items-center rounded-circle bg-white shadow-sm"
                           style="min-width: 60px; min-height: 60px; padding: 0 18px; width: auto; height: auto; margin: 0 auto; display: inline-flex;">
                            5
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="rounded shadow-sm p-3 bg-success-subtle rounded">
                    <div class="">
                        <h5 class="h4 text-primary-emphasis">Website Visits</h5>
                        <hr class="my-2">
                        <p class="h3 fw-b d-flex justify-content-center align-items-center rounded-circle bg-white shadow-sm"
                           style="min-width: 60px; min-height: 60px; padding: 0 18px; width: auto; height: auto; margin: 0 auto; display: inline-flex;">
                            50000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="rounded shadow-sm p-3 bg-primary-subtle rounded">
                    <div class="">
                        <h5 class="card-title">Students Online</h5>
                        <hr class="my-2">
                        <p class="h3 fw-b d-flex justify-content-center align-items-center rounded-circle bg-white shadow-sm"
                           style="min-width: 60px; min-height: 60px; padding: 0 18px; width: auto; height: auto; margin: 0 auto; display: inline-flex;">
                            45
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
