{% extends 'base.html.twig' %}

{% block title %}Edit StudentCourse{% endblock %}

{% block body %}
    <h1>Edit StudentCourse</h1>

    {{ include('student_course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_student_course_index') }}">back to list</a>

    {{ include('student_course/_delete_form.html.twig') }}
{% endblock %}
