{% extends 'base.html.twig' %}

{% block title %}New StudentCourse{% endblock %}

{% block body %}
    <h1>Create new StudentCourse</h1>

    {{ include('student_course/_form.html.twig') }}

    <a href="{{ path('app_student_course_index') }}">back to list</a>
{% endblock %}
